@model Bonobo.Git.Server.Models.RepositoryDetailModel
@{
    ViewBag.Title = "Buttons";
    Layout = null;
}

<div class="pure-controls">
    @if (Model.IsCurrentUserAdministrator)
    {
        <a class="pure-button" href="@Url.Action("Edit", new { id = Model.Id })"><i class="fa fa-pencil-square-o"></i> @Resources.Repository_Detail_Edit</a>
        <a class="pure-button" href="@Url.Action("Delete", new { id = Model.Id })"><i class="fa fa-trash-o"></i> @Resources.Repository_Detail_Delete</a>
    }
</div>

