.dropdown {
    display: inline-block;
}
.dropdown summary {
    color: #777;
    padding: 5px 20px;
    line-height: 1.5em;
    border: 1px solid transparent;
}
#dropdownBox {
    position: relative;
    width: 500px;
    background: white;
    padding: 15px;
    color: #777;
    border-radius: 15px;
    right: 45%;
    border-style: outset;
}
#dropdownBox input {
    left: 28%;
    position: absolute;
    width: 320px;
}
  
#dropdownBox label{
    position:relative;
    left: 20px;
}
#dropdownBox .copy-to-clip-button {
    font-size: 12px;
    padding: 4px;
    width: 15px;
    position: absolute;
    right: 25px;
    background-color: white;
}
#dropbuttons{
    margin-top:10px;
}

.pure-menu .dropdown:hover {
    background: #eee;
    cursor: pointer;
}
.servInput{
    outline:none;
    color:black;
}
