.tree-grid-layout {
    --sidebar-width: 320px;
    --sidebar-gutter: 30px;
    display: grid;
    grid-template-columns: minmax(0, calc(100% - var(--sidebar-width) - var(--sidebar-gutter))) 0 auto;
    grid-gap: var(--sidebar-gutter);
}
.sidebar {
    grid-column-start: 2;
    grid-column-end: span 2;
    width: var(--sidebar-width);
    margin: 2em 0;
}
.sidebar-moved-bottom {
    display: none;
}

.sidebar-bordergrid {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}
.sidebar-bordergrid.top {
    padding-top: 0px;
}
.sidebar-bordergrid.bottom {
    border-bottom: hidden;
    padding-bottom: 0px;
}

.pure-form-aligned .pure-control-group label {
    display: inline-block;
    vertical-align: middle;
    --sidebar-label-width: 7em;
    width: var(--sidebar-label-width);
    margin: 0 1em 0 0
}
.pure-form fieldset {
    margin: 0;
    padding: 0.8em 0 0.8em;
    border: 0;
}
.pure-form.pure-form-aligned.detail fieldset {
    padding: 0.8em 0.8em 0.8em 0.8em;
    background-color: #E6E6E6; /*hsla(210,18%,87%,1)*/
    border-radius: 10px;
}
.sidebar-overflowtext {
    display: inline-block;
    width: calc(var(--sidebar-width) - 10em);
    vertical-align: top;
}
.sidebar-description-text {
    margin-top: 0.5em;
}

/*for screen size responsive sidebar*/
/*@media (max-width: 1300px) {
    .tree-grid-layout {
        --sidebar-width: 300px;
    }
}
@media (max-width: 1000px) {
    .tree-grid-layout {
        --sidebar-width: 0px;
    }
    .sidebar {
        display: none;
    }
    .sidebar-moved-bottom {
        display: inline;
    }
}*/

